@font-face
{
    font-family: Mystery;
    src: url(Mystery.ttf);
}

body
{
    margin: 15px;
}

#error
{
    color: red;
    background-color: pink;
}

#success
{   

    color: green;
    background-color: #aaffaa;
    padding:5px;
    font-family: Mystery;
    font-size: 0.7em;
}

#error, #success
{
    text-align: center;
}

