body
{
    margin: 15px;
}

#error
{
    color: red;
    background-color: pink;
}

#success
{
    color: green;
    background-color: #aaffaa;
    padding:5px;
}

#error, #success
{
    text-align: center;
}
